<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
    	<!-- Admin -->
		<action name="disp{$Modulename}AdminSetup" type="view" standalone="true" admin_index="true"  />
		<action name="proc{$Modulename}AdminSetup" type="controller" />
		<action name="disp{$Modulename}AdminGrantInfo" type="view" standalone="true" />
    </actions>
</module>