<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
    	<action name="dispDomaincheckIndex" type="view" index="true" />
    	
    	<!-- Admin -->
		<action name="dispDomaincheckAdminSetup" type="view" standalone="true" admin_index="true"  />
		<action name="procDomaincheckAdminSetup" type="controller" />
		<action name="dispDomaincheckAdminGrantInfo" type="view" standalone="true" />
    </actions>
</module>