<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
    	<action name="dispSamplegenIndex" type="view" index="true" />
    	<action name="dispSamplegenDownload" type="view" />
    	
    	<!-- Admin -->
		<action name="dispSamplegenAdminSetup" type="view" standalone="true" admin_index="true"  />
		<action name="procSamplegenAdminSetup" type="controller" />
		<action name="dispSamplegenAdminGrantInfo" type="view" standalone="true" />
    </actions>
</module>